
@{
    ViewData["Title"] = "Finish";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <section id="home-section" class="hero">

        <div style="margin-top: 50px" class="card text-center">
            <div class="card-header">
                Teşekkürler
            </div>
            <div class="card-body">
                <h5 class="card-title">Alışveriş tamamlandı.</h5>
                <p class="card-text">Satın alma işlemi başarılı bir şekilde gerçekleşti. Alışverişe devame etmek için <a asp-action="Index" asp-controller="Home">tıklayınız</a></p>

            </div>
            <div class="card-footer text-muted">
            </div>
        </div>
        </section>